main{
    height: 600px;
}

#black-jack img{
    width: 400px;
}

#black-jack{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#black-jack a{
    text-decoration: none;
}

h3{
    text-align: center;
}