div {
    border: 1px solid;
}


div.photo_de_profil{
    display: flex;
    justify-content: center;
}

.photo_de_profil img{
    padding: 5%;
    width: 15%;
    border-radius: 100%;
}

.profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profil div{
    width: 50%;
    padding-left: 1%;
    background-color: beige;
}

.profil p{
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
}